.idea/
.DS_Store
*.class
target/
*.iml
dependency-reduced-pom.xml
.classpath
.project
.settings/
config-cache/
*.log
*.ctxt
.mtj.tmp/
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
.mvn/
run_with_proxy.sh

.apt_generated
.factorypath
.springBeans
.sts4-cache
*.iws
*.ipr
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/

log-*.txt
logs/
__pycache__/
.pytest_cache/
*.py[cod]

*.so

.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
/config.cfg
.python-version

*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

*.mo
*.pot

docs/_build/

.ropeproject
*sw[pot]

/dev.db
dump.rdb
db.png
